*,*::after,*::before{
    /* padding: 0; */
    box-sizing: border-box;
}
:root{
    --cell-size: 100px;
    --mark-size: calc((--cell-size) * .9);
}

body{
    margin: 0;

}
.container{
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    /* place-content: center; */
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(3,auto);
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:first-child,.cell:nth-child(2),.cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(3n+1){  
    border-left: none;
}
.cell:nth-child(3n+3){
    border-right: none;
}
.cell:last-child,.cell:nth-child(8),.cell:nth-child(7){
    border-bottom: none;
}

.cell.x::before,
.cell.x::after{
    /* background-color: #ff0000;    */
    content: '';
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: #000;

}