
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(83, 68, 86);
}
#main-wrapper{
    display: flex;
    
}

img{
    width: 500px;
    height: 500px;
    border-radius: 10px;

}
.row{
    
    width: 120px;
    height: 120px;
    margin-left: 1px;
    margin-bottom: 5px;
}

