*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.calculator{
    max-width: 800px;
}
#equal{
    grid-column-end: 5;
    grid-column-start: 3;
    display: inline;
    grid-row-start: 5;
}
#clear{
    grid-column-start: 1;
    grid-column-end: 3;
}
#divide{
    grid-column-start: 3;
    grid-column-end: 5;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

button{
    padding: 5px;
}
#display{
    /* padding: 50px; */
    width: 100%;
    padding-top: 5px;
}
