*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    prospective: 1000px;
}

.container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

.card{
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 35rem;
    background-color: coral;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2) ;
    border-radius: 20px;
}